Options +FollowSymLinks
RewriteEngine On

# DirectoryIndex index.html index.php
#AddType x-mapp-php5 .php .html .htm
AddType text/css .css 
AddDefaultCharset utf-8

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /brooklynmeatballcompany_com/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /brooklynmeatballcompany_com/index.php [L]
</IfModule>

# END WordPress


