Options +FollowSymLinks
RewriteEngine On

# DirectoryIndex index.html index.php
#AddType x-mapp-php5 .php .html .htm
AddType text/css .css
AddDefaultCharset utf-8

# BEGIN WordPress

# END WordPress

<IfModule pagespeed_module>  
    ModPagespeed on  
    # using commands,filters etc  
</IfModule> 

<ifModule mod_deflate.c>  
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript  
</ifModule>  

Header unset ETag  
FileETag None  
