%div.imprint.columns.six
  %h3 Imprint
  %p Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.
  %p Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

%div.copyright.columns.four.offset-by-two
  %p Copyright 2012.

- wp_footer()

