<div><label for="name">Your Name <span class="req">(required)</span></label><div class="input">[text* name]</div></div>

<div><label for="email">Your Email <span class="req">(required)</span></label><div class="input">[email* email]</div></div>

<div><label for="subject">Subject</label><div class="input">[text subject]</div></div>

<div><label for="message">Your Message</label><div class="input">[textarea message]</div></div>

<div class="submit">[submit "Send"]</div>
