@charset "utf-8"

// Project

@import "_settings.sass"
@import "_utils.sass"

// Compass

@import "compass/reset"

// Foundation Extension to Compass

@import "app.sass"

// +global-reset

body
  background-color: #fff

h1
  font-family: Helvetica, sans-serif

.page-wrapper
  font-family: Helvetica, sans-serif
  font-size: 13px
  color: #333

  @import "site_access.sass"

  @import "site_header.sass"

  @import "site_nav.sass"

  // @import "site_content.sass"

  section.site-content
    background: #fff

    h2
      text-align: center
      margin-bottom: 20px
      color: #222
      a
        color: #222
        &:visited
          color: #222

    // defaults

    .post,
    .page
      margin-bottom: 20px

      header
        margin-bottom: 10px

      .content
        background: #fff
        h3
          color: #999
          font-size: 16px
          font-weight: bold
          a
            color: #355593
            text-decoration: none

    // templates

    .home,
    .single
      background: #fff
      margin-top: 30px

    .home
      background: #fff
      // @extend .row
      border: 2px #EA1E2A solid
      box-shadow: 5px 5px 0 #EA1E2A
      h2
        font-size: 24px
        // @extend .columns
        // @extend .six
        padding: 20px 
        a
          font-variant: small-caps
          text-transform: lowercase
          color: #EA1E2A
          &:visited
            color: #222
          &:hover
            color: #222
      .page
        background: #fff
        @include cf
        // @extend .columns
        // @extend .five
        // @extend .offset-by-one
        .content
          @extend .row
          background: #fff
          color: #E91914
          p:nth-child(1n)
            @extend .columns
            @extend .six
          p:nth-child(2n)
            text-align: right
            @extend .columns
            @extend .six
          h3
            text-align: center
            font-size: 20px
            color: #E91914

    .single 
      background: #fff
      // @extend .row
      h2
        margin-top: 0
        font-size: 32px
        letter-spacing: 5px
        font-family: lobster, Arial
        background: #fff
        // @extend .columns
        // @extend .four
      .page
        background: #fff
        // @extend .columns
        // @extend .eight

        h3
          font-size: 24px

  @import "site_footer.sass"

