@charset "utf-8"

// Project

@import "_settings.sass"
@import "_utils.sass"

// Compass

@import "compass/reset"

// Foundation Extension to Compass

@import "app.sass"

// +global-reset

body
  background-color: #fff

h1
  font-family: Helvetica, sans-serif

.page-wrapper
  font-family: Helvetica, sans-serif
  font-size: 13px
  color: #333

  @import "site_access.sass"

  @import "site_header.sass"

  @import "site_nav.sass"

  @import "site_content.sass"

  @import "site_footer.sass"

